<%- include("partials/header")-%>
<div class="box" id="heading">
    <h1>About US</h1>
</div>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>Ad sunt itaque quas aut quaerat deleniti asperiores, doloremque ab culpa officia temporibus laudantium porro, molestiae assumenda vitae impedit odio, non cupiditate.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. </br>Dicta voluptas pariatur odio, eum nam consequuntur blanditiis nesciunt dolorum molestias dolorem recusandae tenetur quam repellendus ullam adipisci tempora sit corrupti nobis.
    Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>Ad sunt itaque quas aut quaerat deleniti asperiores, doloremque ab culpa officia temporibus laudantium porro, molestiae assumenda vitae impedit odio, non cupiditate.
    Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>Ad sunt itaque quas aut quaerat deleniti asperiores, doloremque ab culpa officia temporibus laudantium porro, molestiae assumenda vitae impedit odio, non cupiditate.
    Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>Ad sunt itaque quas aut quaerat deleniti asperiores, doloremque ab culpa officia temporibus laudantium porro, molestiae assumenda vitae impedit odio, non cupiditate.
    Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>Ad sunt itaque quas aut quaerat deleniti asperiores, doloremque ab culpa officia temporibus laudantium porro, molestiae assumenda vitae impedit odio, non cupiditate.

</p>
<%- include("partials/footer")-%>
